.main {

    flex: auto;
    display: flex;
    background-attachment: fixed;
}
.container-fluid {
  display: flex;
}
.col-9 {
  overflow-y: auto;
  height: 90vh; /* NEW */
}
.h1{
  text-align: center;
}