 <h1>NEWSIFIED</h1>
{% extends 'base.html'%} 
{% block content %} 
  {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  {% endblock %}
<br>
<br>
<br>
<body>

  <div class="main">
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="card-column">
            <div class="card-header">
              <h4>Browse News Sources</h4>
            </div>
            <div class="list-group list-group-flush scrolly">
              <ul>
                {% for source in sources %}
                <a href="/article/{{source.id}}">
                  <p class="text-capitalize text-muted">{{source.id}}</p>
                </a>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>

        <div class="col-9">
          <h1 align="center">THE HEADLINES </h3>
          <div class="container">
            <div class="card-columns">
              {% for headlines in headlines %}

              <div class="card">
                <img class="card" src="{{headlines.image}}" alt="Card image cap" height='400' width="645">
                <div class="card-body">
                  <h5 class="card-title">{{headlines.author}}</h5>
                  <p class="card-text">{{headlines.description}}</p>
                  <a href="{{headlines.url}}">
                    <p class="card-text">Click here for more details!</p>
                  </a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Publish date:{{headlines.time}}</small>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock%}
</body>


